*,
*::before,
*::after {
  box-sizing: border-box;
}

body.light {
  --color: black;
  --accent-1: white;
  --accent-2: #a1a1a1;
  --background: #f5f5f5;
  --border: #c7c7c7;
  --primary: #4d88e0;
  --success: #5dcb8e;
  --error: #e8235e;
  --yellow: #f5a623;
  --dark: #1b1c23;
  --primary-color: white;
}

body {
  --color: #eeeeee;
  --accent-1: #3a4750;
  --accent-2: #a1a1a1;
  --background: #222831;
  --border: #3a4750;
  --primary: #ff5722;
  --success: #5dcb8e;
  --error: #e8235e;
  --yellow: #f5a623;
  --dark: #1b1c23;
  --primary-color: white;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  background: var(--background);
  color: var(--color);
  font: 14px "Open Sans", sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;

  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 1200px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 15px;
}