.todos {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.animate-enter {
    opacity: 0.01;
    transform: translateX(100px);
}

.animate-enter.animate-enter-active {
    opacity: 1;
    transform: translateX(-30px);
}

.animate-enter-done {
    transform: translateX(0px);
}

.animate-exit {
    opacity: 1;
    transition: transform .2s linear, opacity .2s ease-out;
}

.animate-exit.animate-exit-active {
    opacity: 0.01;
    transform: translateX(200px);
}
